*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

ul {
  list-style: none;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #34495e;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 60px;
  text-align: center;
}

.row {
  width: 100%;
  padding: 10px;
}

.row h2 {
  text-align: left;
  font-weight: 600;
}

.grid-colors {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (120px)[8];
      grid-template-columns: repeat(8, 120px);
  -ms-grid-rows: (120px)[3];
      grid-template-rows: repeat(3, 120px);
}

.color {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.color-primary {
  background: #fea839;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.color-red {
  background: #fe394d;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.color-yellow {
  background: #d0fe39;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.color-blue {
  background: #398efe;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.color-blue-light {
  background: #39d0fe;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.color-blue-dark {
  background: #394dfe;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
}

.color-green {
  background: #8efe39;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 1;
  grid-row: 1;
}

.color-green-light {
  background: #39fea9;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 2;
  grid-row: 2;
}

.color-green-dark {
  background: #39fe46;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 3;
  grid-row: 3;
}

.color-purple {
  background: #a939fe;
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
}

.color-magenta {
  background: #fe39f1;
  -ms-grid-column: 7;
  grid-column: 7;
  -ms-grid-row: 1;
  grid-row: 1;
}

.color-grey {
  background: #bfbfbf;
  -ms-grid-column: 8;
  grid-column: 8;
  -ms-grid-row: 1;
  grid-row: 1;
}

.color-grey-light {
  background: #e3e3e3;
  -ms-grid-column: 8;
  grid-column: 8;
  -ms-grid-row: 2;
  grid-row: 2;
}

.color-grey-dark {
  background: #9c9c9c;
  -ms-grid-column: 8;
  grid-column: 8;
  -ms-grid-row: 3;
  grid-row: 3;
}

.grid-typography {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 600px;
      grid-template-columns: 140px 600px;
  text-align: left;
  row-gap: 30px;
}

.grid-typography h1 {
  font-weight: 700;
}

.grid-typography h2 {
  font-weight: 600;
}

.grid-typography h3,
.grid-typography h4 {
  font-weight: 500;
}

.grid-typography h5,
.grid-typography h6 {
  font-weight: 400;
}

.grid-typography p {
  font-weight: 400;
  font-size: 14px;
}

.grid-btns {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  -ms-grid-columns: (140px)[5];
      grid-template-columns: repeat(5, 140px);
}

.btn {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 6px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white !important;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.btn-default {
  background: #398efe;
}

.btn-default:hover {
  background: #394dfe;
}

.btn-next {
  background: #394dfe;
  overflow: hidden;
}

.btn-next:hover {
  color: #394dfe !important;
}

.btn-next::after {
  content: url("../assets/svg/arrow-right.svg");
  position: absolute;
  width: 24px;
  height: 20px;
  left: -24px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-next:hover::after {
  left: 50%;
}

.btn-back {
  background: #394dfe;
  overflow: hidden;
}

.btn-back:hover {
  color: #394dfe !important;
}

.btn-back::after {
  content: url("../assets/svg/arrow-left.svg");
  position: absolute;
  width: 24px;
  height: 20px;
  left: calc(100% + 24px);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-back:hover::after {
  left: 50%;
}

.btn-disabled {
  background-color: #bfbfbf;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
  filter: "alpha(opacity=70)";
  cursor: not-allowed !important;
}

.btn-submit {
  background-color: #fea839;
  cursor: pointer;
}

.btn-submit span {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn--loading span {
  visibility: hidden;
  opacity: 0;
}

.btn--loading::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid transparent;
  border-left: 3px solid white;
  border-top: 3px solid white;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-animation: spin 1s ease 3 forwards;
          animation: spin 1s ease 3 forwards;
}

.btn--loading::after {
  content: url("../assets/svg/tick.svg");
  position: absolute;
  width: 20px;
  height: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  -webkit-animation: reveal 0.5s ease 3.1s forwards;
          animation: reveal 0.5s ease 3.1s forwards;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  99% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  99% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes reveal {
  to {
    opacity: 1;
  }
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */