@import "variables";

body {
  @include font-face(400);
  color: #34495e;
}

.container {
  width: 80%;
  background: rgb(255, 223, 223);
  margin: 0 auto;
  padding: 60px;
  text-align: center;
}

.row {
  width: 100%;
  background: rgb(160, 220, 255);
  padding: 10px;
}
.row h2 {
  text-align: left;
  font-weight: 600;
}
// Colors
.grid-colors {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(8, 120px);
  grid-template-rows: repeat(3, 120px);
}
.color {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.color-primary {
  background: $color-primary;
  grid-column: 1;
  grid-row: 1;
}
.color-red {
  background: $color-red;
  grid-column: 2;
  grid-row: 1;
}
.color-yellow {
  background: $color-yellow;
  grid-column: 3;
  grid-row: 1;
}
.color-blue {
  background: $color-blue;
  grid-column: 4;
  grid-row: 1;
}
.color-blue-light {
  background: $color-blue-light;
  grid-column: 4;
  grid-row: 2;
}
.color-blue-dark {
  background: $color-blue-dark;
  grid-column: 4;
  grid-row: 3;
}
.color-green {
  background: $color-green;
  grid-column: 5;
  grid-row: 1;
}
.color-green-light {
  background: $color-green-light;
  grid-column: 5;
  grid-row: 2;
}
.color-green-dark {
  background: $color-green-dark;
  grid-column: 5;
  grid-row: 3;
}
.color-purple {
  background: $color-purple;
  grid-column: 6;
  grid-row: 1;
}
.color-magenta {
  background: $color-magenta;
  grid-column: 7;
  grid-row: 1;
}
.color-grey {
  background: $color-grey;
  grid-column: 8;
  grid-row: 1;
}
.color-grey-light {
  background: $color-grey-light;
  grid-column: 8;
  grid-row: 2;
}
.color-grey-dark {
  background: $color-grey-dark;
  grid-column: 8;
  grid-row: 3;
}
// END Colors

//Typography
.grid-typography {
  display: grid;
  grid-template-columns: 140px 600px;
  text-align: left;
  row-gap: 30px;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }
  h6 {
    font-weight: 400;
  }
  p {
    font-weight: 400;
    font-size: 14px;
  }
}
//END Typography

// Ulility
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
